# Environment Config - .env

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values

# reference these in your code with `process.env.SECRET`

BGG_USERNAME=
BGG_PASSWORD=
# PORT=
# make sure to not use PORT when running on glitch.io


# note: .env is a shell file so there can't be spaces around =
