/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 1em;
  color: #111;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 1000px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

.text-right {
  text-align: right;
}

.table {
  border-collapse: collapse;
}
.table th {
  text-align: left;
}

.table td, 
.table th {
  vertical-align: top;
  padding: 0.2em 0.5em;
}
.table tr:hover {
  background-color: #eee;
}

.columns {
  display: flex;
}

.columns-half {
  flex: 1 0 50%;
  text-align: center;
}

.top-pick-image {
  width: auto;
  max-height: 250px;
  max-width: 500px;
}

.inline-list {
  display: block;
  margin: 0;
  padding: 0;
}

.inline-list li {
  display: inline-block;
}
.inline-list li:after {
  content: ",";
  padding-right: .25em;
}
.inline-list li:last-child:after {
  content: "";
  padding-right: 0;
}

.promoted-user {
  font-weight: bold;
}

.game-thumbnail {
  width: 50px;
  vertical-align: middle;
}

.notes {
  color: #777;
}

.notes > a {
  color: #999;
}